<ion-content>
    <div id="pageHeader">
        <p id="logoutText" [routerLink]="['/principal']" routerLinkActive="router-link-active">Menu</p>
        <p id="newText" [routerLink]="['/tipoConta/register']" routerLinkActive="router-link-active">Novo</p>
    </div>
    <p id="tipoContas">Tipo de contas</p>
    <div id="dataContas" *ngFor="let tipo of tiposContas; let even = even; let odd = odd">
        <div class="conta">
            <div class="icon alt" *ngIf="even"></div>
            <div class="icon" *ngIf="odd"></div>
            <div class="item" [routerLink]="['/tipoConta/register/' + tipo.nomeTipo]" routerLinkActive="router-link-active">
                <p>{{tipo.nomeTipo}}</p>
            </div>
            <img src="../../../assets/trash.png" (click)="excluir(tipo.nomeTipo)" alt="lixeira" width="25" id="lixeira" />
            <div class="divider"></div>
            <div class="divider"></div>
        </div>
    </div>
</ion-content>