<ion-content>
  <div id="pageHeader">
    <p id="contasText">Contas</p>
    <p id="logoutText">Log out</p>
    <p id="newText">Novo</p>
  </div>
  <p id="tipoContas">Tipo de contas</p>
  <div id="dataContas">
    <div class="conta">
      <div class="icon alt"></div>
      <div class="item"><p>Item</p></div>
      <div class="divider"></div>
    </div>
    <div class="conta">
      <div class="icon"></div>
      <div class="item"><p>Item</p></div>
      <div class="divider"></div>
    </div>
    <div class="conta">
      <div class="icon alt"></div>
      <div class="item"><p>Item</p></div>
      <div class="divider"></div>
    </div>
    <div class="conta">
      <div class="icon"></div>
      <div class="item"><p>Item</p></div>
      <div class="divider"></div>
    </div>
    <div class="conta">
      <div class="icon alt"></div>
      <div class="item"><p>Item</p></div>
      <div class="divider"></div>
    </div>
    <div class="conta">
      <div class="icon"></div>
      <div class="item"><p>Item</p></div>
      <div class="divider"></div>
    </div>
    <div class="conta">
      <div class="icon alt"></div>
      <div class="item"><p>Item</p></div>
      <div class="divider"></div>
    </div>
    <div class="conta">
      <div class="icon"></div>
      <div class="item"><p>Item</p></div>
      <div class="divider"></div>
    </div>
    <div class="conta">
      <div class="icon alt"></div>
      <div class="item"><p>Item</p></div>
      <div class="divider"></div>
    </div>
    <div class="conta">
      <div class="icon"></div>
      <div class="item"><p>Item</p></div>
      <div class="divider"></div>
    </div>
  </div>
</ion-content>
