<ion-content>
  <p id="signUpText">Sign Up</p>
  <div id="iconX">
    <div id="line1"></div>
    <div id="line2"></div>
  </div>
  <p id="login">Login</p>
  <div id="inputName" class="input">
    <ion-input type="text" placeholder="Usuário" id="usuario"></ion-input>
  </div>
  <div class="bgInput"></div>
  <div id="inputPassword" class="input">
    <ion-input type="password" placeholder="Senha" id="senha"></ion-input>
  </div>
  <div class="bgInput"></div>
  <div id="button">
    <p id="buttonText">Sign Up</p>
  </div>
  <!-- <div id="bgInputPassword"></div> -->
</ion-content>
