<ion-content>
    <p id="signupText" [routerLink]="'/register'">Sign up</p>
    <p id="loginText">Log in</p>
    <form [formGroup]="login" (ngSubmit)="enviou()">
        <div id="inputUser" class="input">
            <ion-input type="text" placeholder="Usuário" id="userName" formControlName="userName"></ion-input>
        </div>
        <div class="bgInput"></div>
        <div id="inputPassword" class="input">
            <ion-input type="password" placeholder="Senha" id="password" formControlName="password"></ion-input>
        </div>
        <div class="bgInput"></div>
        <ion-button fill="clear" type="submit" id="button" [disabled]="!login.valid">
            Log In
        </ion-button>
    </form>
</ion-content>