#menuText {
  /* Sign Up */

  position: absolute;
  width: 113px;
  height: 36px;
  left: calc(50% - 113px / 2 + 2px);
  top: 0px;

  /* UI - 30 Semi */

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  /* Black */

  color: #000000;
}

.opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  width: 150px;
  position: relative;
  height: max-content;
  top: 95px;
  // left: 45%;
  // right: 16px;
  // bottom: 342px;
  margin-left: auto;
  margin-right: auto;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  /* White */

  color: #ffffff;

  background: #d25050;
  border-radius: 100px;
  cursor: pointer;
}
